* {
    margin: 0;
    padding: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

body {
    min-width: 1000px;
}

header {
    padding: 1.25em;
    font-family: sans-serif;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 6px;
    vertical-align: middle;
}

main {
    clear: both;
    padding-top: 150px;
    text-align: center;
}

form {
    line-height: 3.5em;
}

form input {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid gainsboro;
}

.button {
    background-color: whitesmoke;
}

.button:hover {
    border-color: gray;
}

#search-bar-container {
    border: 1px solid gainsboro;
    border-radius: 4% / 50%;
    width: 500px;
    display: inline-block;
    padding: 8px 8px;
    line-height: initial;
    margin: 20px 0;
}

i {
    color: gray;
}

.sb-content {
    display: inline;
    vertical-align: middle;
}

#search-bar {
    border: none;
    width: 82%;
    padding: 2px;
    font-size: 16px;
}

#search-bar:focus,
#search-bar:hover {
    outline: none;
}

#search-bar-container:focus,
#search-bar-container:hover {
    outline: none;
    box-shadow: 0 1px 5px 1px gainsboro;
}

footer {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    bottom: 0;
    font-family: sans-serif;
}

#location {
    border-bottom: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

.footers {
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    line-height: 2.5em;
    padding: 0 0.75em;
    overflow: auto;
    color: gray;
}

.first-list-item {
    padding-left: 0;
}

.last-list-item {
    padding-right: 0;
}